<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Music Manager App</title>
</head>
<body style="margin: 20px;">
    {% if error %}<div class="error" style="color: red;"><strong>Error:</strong> {{ error }}</div>{% endif %}

    <h2>Please login or sign up</h2><br>
    <h4>Login form</h4>
    {% if error_login %}<div class="error" style="color: red;"><strong>Error:</strong> {{ error_login }}</div>{% endif %}
    <form method="post" action="{{ url }}" enctype="application/x-www-form-urlencoded">
        <table>
            <tr>
                <td><label for="login">Name</label></td>
                <td><input id="login" name="login" type="text" value="" placeholder="name" autofocus required/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input id="password" name="password" type="password" value="" placeholder="password" autofocus required/></td>
            </tr>
        </table>
        <input type="submit" value="login">
    </form>
    <br><br>

    <h4>Sign up form</h4>
    {% if error_signup %}<div class="error" style="color: red;"><strong>Error:</strong> {{ error_signup }}</div>{% endif %}
    <form method="post" action="{{ url }}" enctype="application/x-www-form-urlencoded">
        <table>
            <tr>
                <td><label for="username">Name</label></td>
                <td><input id="username" name="username" type="text" value="" placeholder="name" autofocus required/></td>
            </tr>
            <tr>
                <td><label for="new_password">Password</label></td>
                <td><input id="new_password" name="new_password" type="text" value="" placeholder="password" autofocus required/></td>
            </tr>
        </table>
        <input type="submit" value="sign up">
    </form>
</body>
</html>